mat-card {
    max-width: 1200px;
    margin: auto;
    padding: 16px;
}

.user-management-card {
    width: 95%;
}

.mt-20 {
    margin-top: 20px;
}

th.mat-header-cell {
    font-size: 15px !important;
}

.overflow-div {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.table-container {
    max-height: 400px;
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
}


.table-container thead {
    position: sticky;
    top: 0;
    background: white;
    z-index: 2;
}

/* Ensure table is 100% width */
table {
    width: 100%;
    border-collapse: collapse;
}

@media (max-width: 774px) {
    ::ng-deep .mat-select-value {
        max-width: 100px !important;
    }
}


@media (max-width: 600px) {

    .table-container {
        max-height: 300px;

    }



    th,
    td {
        font-size: 12px;
        padding: 6px;
    }
}


@media (min-width: 600px) and (max-width: 1024px) {
    .mat-raised-button {
        width: auto;
    }

    .table-container {
        max-height: 350px;
    }
}


@media (min-width: 1024px) {
    .table-container {
        max-height: 400px;
    }
}